.app-page {
	text-align: center;
	background-color: #01012B;
	min-height: 100vh;
	font-family: 'Orbitron', sans-serif;
}

.top-menu {
	max-width: 95%;
	margin: auto;
	color: #FF2A6D;
	background-color: #01012B;
}

.card {
	width: 20%;
	height: 200px;
	border-radius: 2mm;
	margin: 15px;
	vertical-align: baseline;
	/* background-color: #D1F7FF; */
	/* background-color: #005678; */
	background-color: #05D9E8;
}

.w3-bar-block .w3-bar-item {
	padding: 20px
}